@model List<SchoolManagement.ViewModel.Teacher.TeacherIndexModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Teacher Details</h1>
<table class="table">
    <thead class="table-striped">
        <tr>
            <td>Teacher Name</td>
            <td>Subject</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Action</td>
        </tr>
    </thead>

    @foreach (var obj in Model)
    {
        <tr>
            
            <td>@obj.Name</td>
            <td>@obj.Subject</td>
            <td>@obj.Email</td>
            <td>@obj.Phone</td>
            
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-controller="Teacher" asp-route-id="@obj.TeacherId">Edit</a>
                <a asp-action="Delete" class="btn btn-danger" asp-controller="Teacher" asp-route-id="@obj.TeacherId">Delete</a>
            </td>
        </tr>
    }

</table>
<table>
    <tr>
        <td>
            <a asp-action="Create" class="btn btn-primary" asp-controller="Teacher">Add New Teacher</a>
        </td>
    </tr>

</table>